<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">

<link rel="import" href="/src/shared-styles.html">
<link rel="import" href="/src/app-data.html">

<dom-module id="home-bank">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      vaadin-grid {
        width:100%;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-data key="userData" data="{{storedUser}}"></app-data>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <iron-ajax auto id="getUserAccountsAjax" method="get" url="[[apiEndpoint]]/apitechu/v1/accounts" headers$='{"x-access-token" : "{{storedUser.access_token}}" }'
    handle-as="json" on-response='showAccountData' on-error='handleUserError'></iron-ajax>


    <h1>Welcome to the best bank ever.</h1>
    <p></p>
    <div id="unauthenticated" hidden$="[[!storedUser.loggedin]]" >
        <vaadin-grid id="grid" items=[[accounts]] active-item="{{gridActiveItem}}">
            <vaadin-grid-column>
              <template class="header">
                  <vaadin-grid-sorter path="iban">IBAN</vaadin-grid-sorter>
                  </template>
              <template>[[item.iban]]</template>
              <template class="footer">IBAN</template>
            </vaadin-grid-column>
  
            <vaadin-grid-column>
              <template class="header">
                  <vaadin-grid-sorter path="balance">Balance</vaadin-grid-sorter>
              </template>
              <template>[[item.balance]]</template>
              <template class="footer">Balance</template>
            </vaadin-grid-column>
          </vaadin-grid>
    </div>
    <div class="wrapper-btns">
        <paper-button hidden$="[[storedUser.loggedin]]" raised class="primary" on-tap="postLogin">Log In</paper-button>
        <paper-button hidden$="[[storedUser.loggedin]]" class="primary" on-tap="postRegister">Sign Up</paper-button>
      </div>

  </template>

  <script>
    class MyHomeBank extends Polymer.Element {
      static get is() { return 'home-bank'; }

      static get properties() {
        return {
          storedUser: Object,
          accounts: Array,
          apiEndpoint: {
            type: String,
            value: MyGlobalVars.api_endpoint
          },
          gridActiveItem: {
            type: Object,
            observer: '_activeItemChanged'
          }
        }
      }
      handleUserError(event) {
        //TODO: Mostrar el error mas bonito
        // this.error = event.detail.request.xhr.response;
        //alert("error handled " + this.error);

        console.log(this.error);
      }

        getQuote() {
          this.$.getQuoteAjax.generateRequest();
        }
        postLogin() {
          this.set('route.path', '/main-login');
        }

        postRegister() {
          this.set('route.path', '/main-register');
        }

        showAccountData(data) {
        console.log('nos hemos traido los datos de las cuentas');
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }
      _activeItemChanged( item ){
        this.$.grid.selectedItems = item ? [item] : [];
        console.log(item);
        console.log('accountChanged');
        this.hideMovements = false;
        if (!this.hideMovements) {
          console.log('pedimos los movimientos');
          if(item){
            this.movements = item.movements;
          }
        }
      }
    }
    window.customElements.define(MyHomeBank.is, MyHomeBank);

  </script>
</dom-module>