<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="app-data.html">

<dom-module id="log-out">
  <template>
    <style>
      :host {
        margin: 0;
        padding: 0;
      }

      paper-button {
        background: #f44336;
        color: #fff;
        font-weight: bold;
      }

      a {
        color: #fff;
        display: inline-block;
        font-size: 13px;
      }
    </style>

    <app-data key="userData" data="{{storedUser}}"></app-data>

    <iron-ajax id="logoutAjax" method="post" on-response="handleLogoutResponse" on-error="handleLogoutError"></iron-ajax>

    <template is="dom-if" if="{{!link}}">
      <paper-button raised on-tap="logout">Log Out</paper-button>
    </template>

    <template is="dom-if" if="{{link}}">
      <a on-tap="logout" href>Log Out</a>
    </template>
  </template>

  <script>
    class MyLogOut extends Polymer.Element {

      static get is() { return 'log-out'; }

      static get properties() {
        return {
          storedUser: Object,
          link: {
            type: Boolean,
            value: false
          },
          apiEndpoint: {
            type: String,
            value: MyGlobalVars.api_endpoint
          }
        }
      }

      logout() {
        this.$.logoutAjax.url = this.apiEndpoint + '/apitechu/v1/auth/logout';
        this.$.logoutAjax.headers['x-access-token'] = '' + this.storedUser.access_token;
        this.$.logoutAjax.generateRequest();
        // remove user data
        this.storedUser = null;
      }

      handleLogoutResponse(event) {
        var response = event.detail.response;
        console.log(response);
        // redirect to Index
        this.set('route.path', 'home-bank');
      }

      handleLogoutError(event) {
        this.error = event.detail.request.xhr.response;
      }
    }

    window.customElements.define(MyLogOut.is, MyLogOut);

  </script>
</dom-module>