<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="main-register">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      a {
        color: var(--primary-color);
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <iron-ajax id="mainRegisterAjax" method="post" content-type="application/json" handle-as="text" on-response="handleUserResponse"
      on-error="handleUserError"></iron-ajax>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.created]]">
        <h1>New Account</h1>

        <p><strong>Create</strong> your new Smart Money Bank account!</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input label="First Name" is="iron-input" id="firstname" type="text" value="{{formData.first_name}}"></paper-input>

        <paper-input label="Last Name" is="iron-input" id="lastname" type="text" value="{{formData.last_name}}"></paper-input>

        <paper-input label="Email" is="iron-input" id="username" type="text" value="{{formData.email}}"></paper-input>

        <paper-input label="Password" is="iron-input" id="password" type="password" value="{{formData.password}}"></paper-input>

        <!-- <paper-input-container>
          <label>First Name</label>
          <input is="iron-input" id="firstname" type="text" bind-value="{{formData.first_name}}">
        </paper-input-container>

        <paper-input-container>
          <label>Last Name</label>
          <input is="iron-input" id="lastname" type="text" bind-value="{{formData.last_name}}">
        </paper-input-container>

        <paper-input-container>
          <label>Email</label>
          <input is="iron-input" id="username" type="text" bind-value="{{formData.email}}">
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <input is="iron-input" id="password" type="password" bind-value="{{formData.password}}">
        </paper-input-container> -->

        <div class="wrapper-btns">
          <paper-button class="link" on-tap="postLogin">Login</paper-button>
          <paper-button raised class="primary" on-tap="postRegister">Sign Up</paper-button>
        </div>
      </div>

      <div id="authenticated" hidden$="[[!storedUser.created]]">
        <h2>Hello, [[storedUser.first_name]]!</h2>
        <p>Your account has been created succesfully!!!</p>
        <p>We have logged you in ;)</p>
      </div>

    </div>
  </template>

  <script>
    class MyMainRegister extends Polymer.Element {

      static get is() { return 'main-register'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String,
          apiEndpoint: {
            type: String,
            value: MyGlobalVars.api_endpoint
          }
        }
      }

      _setReqBody() {
        this.$.mainRegisterAjax.body = this.formData;
        console.log("este es el formdata q vamos a mandar:");
        console.log(this.formData);
      }

      postRegister() {
        this.$.mainRegisterAjax.url = this.apiEndpoint + '/apitechu/v1/auth/register';
        this._setReqBody();
        this.$.mainRegisterAjax.generateRequest();
      }
      postLogin() {
        this.set('route.path', '/main-login');
      }
      handleUserResponse(event) {
        console.log("esta es la respuesta obtenida:");

        var response = JSON.parse(event.detail.response);
        console.log(response);

        if (response.token) {
          this.error = '';
          this.storedUser = {
            name: this.formData.email,
            user_id: response.id,
            access_token: response.token,
            loggedin: true,
            created: true
          };

          // redirect to main logged home
          // TODO: redirigir a main despues del register
          //this.set('route.path', '/secret-quotes');
        }

        // reset form data
        this.formData = {};
      }

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
      }
    }
    window.customElements.define(MyMainRegister.is, MyMainRegister);

  </script>
</dom-module>