<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="main-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      a {
        color: var(--primary-color);
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <iron-ajax id="mainLoginAjax" method="post" content-type="application/json" handle-as="text" on-response="handleUserResponse"
      on-error="handleUserError"></iron-ajax>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Log In</h1>

        <p><strong>Log in</strong> or <strong>sign up</strong> to access Smart Money Bank!</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input label="Username" is="iron-input" id="username" type="text" value="{{formData.email}}"></paper-input>

        <paper-input label="Password" is="iron-input" id="password" type="password" value="{{formData.password}}"></paper-input>

        <div class="wrapper-btns">
          <paper-button raised class="primary" autofocus on-tap="postLogin">Log In</paper-button>
          <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>
        </div>
      </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hello, [[storedUser.name]]!</h2>
        <!-- TODO: Redirigir al home del banco -->
        <p>You are currently logged in. You can access <a href="/secret-account">to your Accounts</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>

    </div>
  </template>

  <script>
    class MyMainLogin extends Polymer.Element {

      static get is() { return 'main-login'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String,
          apiEndpoint: {
            type: String,
            value: MyGlobalVars.api_endpoint
          }
        }
      }


      _setReqBody() {
        this.$.mainLoginAjax.body = this.formData;
        console.log("este es el formdata q vamos a mandar:");
        console.log(this.formData);
      }

      postLogin() {
        this.$.mainLoginAjax.url = this.apiEndpoint + '/apitechu/v1/auth/login';
        this._setReqBody();
        this.$.mainLoginAjax.generateRequest();
      }

      postRegister() {
        // this.$.mainLoginAjax.url = this.apiEndpoint + '/apitechu/v1/auth/register';
        // this._setReqBody();
        // this.$.mainLoginAjax.generateRequest();
        this.set('route.path', '/main-register');

      }

      handleUserResponse(event) {
        console.log("esta es la respuesta obtenida:");

        var response = JSON.parse(event.detail.response);
        console.log(response);

        if (response.token) {
          this.error = '';
          this.storedUser = {
            name: this.formData.email,
            user_id: response.id,
            access_token: response.token,
            loggedin: true
          };

          // redirect to Secret Quotes
          // TODO: Redirigir al home del banco
          this.set('route.path', '/home-bank');
        }

        // reset form data
        this.formData = {};
      }

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
        console.log(this.error);
      }
    }

    window.customElements.define(MyMainLogin.is, MyMainLogin);

  </script>
</dom-module>