<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="app-data.html">
<link rel="import" href="log-out.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }

      app-header .greeting {
        border-right: 1px solid rgba(255, 255, 255, .5);
        display: inline-block;
        padding-right: 6px;
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list .iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>


    <app-drawer-layout fullbleed>
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">

        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <div name="home-bank">
                <a href="/home-bank">Home</a>
              </div>
              <div name="secret-account" hidden$="[[!storedUser.loggedin]]">
                <a href="/secret-account">Account Operations</a>
              </div>
              <div name="" hidden$="[[!storedUser.loggedin]]">
                  <a href="/secret-exchange">Exchange Calculator</a>
                </div>
                <div name="" hidden$="[[!storedUser.loggedin]]">
                  <a href="/user-profile">User Profile</a>
                </div>
        </iron-selector>
        <!-- <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <div name="home-bank">
            <a href="/home-bank">Home</a>
          </div>
          <div name="" hidden$="[[!storedUser.loggedin]]">
            <a href="/secret-account">Secret Accounts lateral</a>
          </div>
          <div name="" hidden$="[[!storedUser.loggedin]]">
              <a href="/secret-movements">Movements lateral</a>
            </div>
            <div name="" hidden$="[[!storedUser.loggedin]]">
              <a href="/user-profile">User Profile</a>
            </div>
          </iron-selector> -->
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Smart Money Bank</div>
            <a name="main-login" href="/main-login" hidden$="[[storedUser.loggedin]]">Log In</a>
            <div hidden$="[[!storedUser.loggedin]]">
              <span class="greeting">Hi <a href="/user-profile">[[storedUser.name]]</a>!</span>
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages default-selected="main-login" selected="[[page]]" attr-for-selected="name" fallback-selection="not-found" role="main">
          <home-bank name="home-bank"></home-bank>
          <main-login name="main-login"></main-login>
          <main-register name="main-register"></main-register>
          <secret-account name="secret-account"></secret-account>
          <not-found name="not-found"></not-found>
          <user-profile name="user-profile"></user-profile>
          <secret-exchange name="secret-exchange"></secret-exchange>
          
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          storedUser: Object,
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'home-bank';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'not-found';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>