<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dropdown-input/paper-dropdown-input.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="secret-exchange">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      a {
        color: var(--primary-color);
      }
      paper-button.link {
        color: #757575;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <iron-ajax id="getExchangeAjax" method="get" headers$='{"x-access-token" : "{{storedUser.access_token}}" }'
      content-type="application/json" handle-as="json" on-response='showDataAfterGetExchangeCall' on-error="handleUserError"></iron-ajax>
  

    <!--
    <iron-ajax id="getUserDetailsAjax" method="get" url="[[apiEndpoint]]/apitechu/v1/users/[[storedUser.user_id]]"
      headers$='{"x-access-token" : "{{storedUser.access_token}}" }' handle-as="json" on-response='showDataAfterGetCall'
      auto on-error="handleUserError"></iron-ajax>

    
    url="[[apiEndpoint]]/apitechu/v1/users/[[storedUser.user_id]]" -->
    <!-- <iron-ajax id="deleteUserDetailsAjax" method="DELETE" on-response='showDataAfterDeleteCall' on-error="handleUserError"></iron-ajax> -->

    <div class="card">
      
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>user profile [[storedUser.loggedin]]</h1>

        <p><strong>Log in</strong> or <strong>sign up</strong> to access Smart Money Bank!</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

          <paper-input label="Username" is="iron-input" id="username" type="text" value="{{formData.email}}">

          <paper-input label="Password" is="iron-input" id="password" type="password" value="{{formData.password}}">

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
          <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>

        </div>

      </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        Select two currencys to get their value of exchange:
        <p></p>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>
        <template is="dom-if" if="[[confirmationMessage]]">
            <p class="alert-ok"><strong></strong>[[confirmationMessage]]</p>
          </template>
        <paper-dropdown-input id="currencyddwn" label="CURRENCY" items='["AED,United Arab Emirates Dirham",
        "AFN,Afghan Afghani            ",
        "ALL,Albanian Lek",
        "AMD,Armenian Dram",
        "ANG,Netherlands Antillean Guilder",
        "AOA,Angolan Kwanza",
        "ARS,Argentine Peso",
        "AUD,Australian Dollar",
        "AWG,Aruban Florin",
        "AZN,Azerbaijani Manat",
        "BAM,Bosnia-Herzegovina Convertible Mark",
        "BBD,Barbadian Dollar",
        "BDT,Bangladeshi Taka",
        "BGN,Bulgarian Lev",
        "BHD,Bahraini Dinar",
        "BIF,Burundian Franc",
        "BMD,Bermudan Dollar",
        "BND,Brunei Dollar",
        "BOB,Bolivian Boliviano",
        "BRL,Brazilian Real",
        "BSD,Bahamian Dollar",
        "BTN,Bhutanese Ngultrum",
        "BWP,Botswanan Pula",
        "BZD,Belize Dollar",
        "CAD,Canadian Dollar",
        "CDF,Congolese Franc",
        "CHF,Swiss Franc",
        "CLF,Chilean Unit of Account UF",
        "CLP,Chilean Peso",
        "CNH,Chinese Yuan Offshore",
        "CNY,Chinese Yuan",
        "COP,Colombian Peso",
        "CUP,Cuban Peso",
        "CVE,Cape Verdean Escudo",
        "CZK,Czech Republic Koruna",
        "DJF,Djiboutian Franc",
        "DKK,Danish Krone",
        "DOP,Dominican Peso",
        "DZD,Algerian Dinar",
        "EGP,Egyptian Pound",
        "ERN,Eritrean Nakfa",
        "ETB,Ethiopian Birr",
        "EUR,Euro",
        "FJD,Fijian Dollar",
        "FKP,Falkland Islands Pound",
        "GBP,British Pound Sterling",
        "GEL,Georgian Lari",
        "GHS,Ghanaian Cedi",
        "GIP,Gibraltar Pound",
        "GMD,Gambian Dalasi",
        "GNF,Guinean Franc",
        "GTQ,Guatemalan Quetzal",
        "GYD,Guyanaese Dollar",
        "HKD,Hong Kong Dollar",
        "HNL,Honduran Lempira",
        "HRK,Croatian Kuna",
        "HTG,Haitian Gourde",
        "HUF,Hungarian Forint",
        "IDR,Indonesian Rupiah",
        "ILS,Israeli New Sheqel",
        "INR,Indian Rupee",
        "IQD,Iraqi Dinar",
        "IRR,Iranian Rial",
        "JEP,Jersey Pound",
        "JMD,Jamaican Dollar",
        "JOD,Jordanian Dinar",
        "JPY,Japanese Yen",
        "KES,Kenyan Shilling",
        "KGS,Kyrgystani Som",
        "KHR,Cambodian Riel",
        "KMF,Comorian Franc",
        "KPW,North Korean Won",
        "KRW,South Korean Won",
        "KWD,Kuwaiti Dinar",
        "KYD,Cayman Islands Dollar",
        "KZT,Kazakhstani Tenge",
        "LAK,Laotian Kip",
        "LBP,Lebanese Pound",
        "LKR,Sri Lankan Rupee",
        "LRD,Liberian Dollar",
        "LSL,Lesotho Loti",
        "LYD,Libyan Dinar",
        "MAD,Moroccan Dirham",
        "MDL,Moldovan Leu",
        "MGA,Malagasy Ariary",
        "MKD,Macedonian Denar",
        "MMK,Myanma Kyat",
        "MNT,Mongolian Tugrik",
        "MOP,Macanese Pataca",
        "MRO,Mauritanian Ouguiya pre2018",
        "MRU,Mauritanian Ouguiya",
        "MUR,Mauritian Rupee",
        "MVR,Maldivian Rufiyaa",
        "MWK,Malawian Kwacha",
        "MXN,Mexican Peso",
        "MYR,Malaysian Ringgit",
        "MZN,Mozambican Metical",
        "NAD,Namibian Dollar",
        "NGN,Nigerian Naira",
        "NOK,Norwegian Krone",
        "NPR,Nepalese Rupee",
        "NZD,New Zealand Dollar",
        "OMR,Omani Rial",
        "PAB,Panamanian Balboa",
        "PEN,Peruvian Nuevo Sol",
        "PGK,Papua New Guinean Kina",
        "PHP,Philippine Peso",
        "PKR,Pakistani Rupee",
        "PLN,Polish Zloty",
        "PYG,Paraguayan Guarani",
        "QAR,Qatari Rial",
        "RON,Romanian Leu",
        "RSD,Serbian Dinar",
        "RUB,Russian Ruble",
        "RUR,Old Russian Ruble",
        "RWF,Rwandan Franc",
        "SAR,Saudi Riyal",
        "SBDf,Solomon Islands Dollar",
        "SCR,Seychellois Rupee",
        "SDG,Sudanese Pound",
        "SEK,Swedish Krona",
        "SGD,Singapore Dollar",
        "SHP,Saint Helena Pound",
        "SLL,Sierra Leonean Leone",
        "SOS,Somali Shilling",
        "SRD,Surinamese Dollar",
        "SYP,Syrian Pound",
        "SZL,Swazi Lilangeni",
        "THB,Thai Baht",
        "TJS,Tajikistani Somoni",
        "TMT,Turkmenistani Manat",
        "TND,Tunisian Dinar",
        "TOP,Tongan Pa anga",
        "TRY,Turkish Lira",
        "TTD,Trinidad and Tobago Dollar",
        "TWD,New Taiwan Dollar",
        "TZS,Tanzanian Shilling",
        "UAH,Ukrainian Hryvnia",
        "UGX,Ugandan Shilling",
        "USD,United States Dollar",
        "UYU,Uruguayan Peso",
        "UZS,Uzbekistan Som",
        "VND,Vietnamese Dong",
        "VUV,Vanuatu Vatu",
        "WST,Samoan Tala",
        "XAF,CFA Franc BEAC",
        "XAG,Silver Ounce",
        "XAU,Gold Ounce",
        "XCD,East Caribbean Dollar",
        "XDR,Special Drawing Rights",
        "XOF,CFA Franc BCEAO",
        "XPF,CFP Franc",
        "YER,Yemeni Rial",
        "ZAR,South African Rand",
        "ZMW,Zambian Kwacha",
        "ZWL,Zimbabwean Dollar"]'>
        </paper-dropdown-input>

        <paper-dropdown-input id="currencyddwn2" label="CURRENCY" items='["AED,United Arab Emirates Dirham",
        "AFN,Afghan Afghani            ",
        "ALL,Albanian Lek",
        "AMD,Armenian Dram",
        "ANG,Netherlands Antillean Guilder",
        "AOA,Angolan Kwanza",
        "ARS,Argentine Peso",
        "AUD,Australian Dollar",
        "AWG,Aruban Florin",
        "AZN,Azerbaijani Manat",
        "BAM,Bosnia-Herzegovina Convertible Mark",
        "BBD,Barbadian Dollar",
        "BDT,Bangladeshi Taka",
        "BGN,Bulgarian Lev",
        "BHD,Bahraini Dinar",
        "BIF,Burundian Franc",
        "BMD,Bermudan Dollar",
        "BND,Brunei Dollar",
        "BOB,Bolivian Boliviano",
        "BRL,Brazilian Real",
        "BSD,Bahamian Dollar",
        "BTN,Bhutanese Ngultrum",
        "BWP,Botswanan Pula",
        "BZD,Belize Dollar",
        "CAD,Canadian Dollar",
        "CDF,Congolese Franc",
        "CHF,Swiss Franc",
        "CLF,Chilean Unit of Account UF",
        "CLP,Chilean Peso",
        "CNH,Chinese Yuan Offshore",
        "CNY,Chinese Yuan",
        "COP,Colombian Peso",
        "CUP,Cuban Peso",
        "CVE,Cape Verdean Escudo",
        "CZK,Czech Republic Koruna",
        "DJF,Djiboutian Franc",
        "DKK,Danish Krone",
        "DOP,Dominican Peso",
        "DZD,Algerian Dinar",
        "EGP,Egyptian Pound",
        "ERN,Eritrean Nakfa",
        "ETB,Ethiopian Birr",
        "EUR,Euro",
        "FJD,Fijian Dollar",
        "FKP,Falkland Islands Pound",
        "GBP,British Pound Sterling",
        "GEL,Georgian Lari",
        "GHS,Ghanaian Cedi",
        "GIP,Gibraltar Pound",
        "GMD,Gambian Dalasi",
        "GNF,Guinean Franc",
        "GTQ,Guatemalan Quetzal",
        "GYD,Guyanaese Dollar",
        "HKD,Hong Kong Dollar",
        "HNL,Honduran Lempira",
        "HRK,Croatian Kuna",
        "HTG,Haitian Gourde",
        "HUF,Hungarian Forint",
        "IDR,Indonesian Rupiah",
        "ILS,Israeli New Sheqel",
        "INR,Indian Rupee",
        "IQD,Iraqi Dinar",
        "IRR,Iranian Rial",
        "JEP,Jersey Pound",
        "JMD,Jamaican Dollar",
        "JOD,Jordanian Dinar",
        "JPY,Japanese Yen",
        "KES,Kenyan Shilling",
        "KGS,Kyrgystani Som",
        "KHR,Cambodian Riel",
        "KMF,Comorian Franc",
        "KPW,North Korean Won",
        "KRW,South Korean Won",
        "KWD,Kuwaiti Dinar",
        "KYD,Cayman Islands Dollar",
        "KZT,Kazakhstani Tenge",
        "LAK,Laotian Kip",
        "LBP,Lebanese Pound",
        "LKR,Sri Lankan Rupee",
        "LRD,Liberian Dollar",
        "LSL,Lesotho Loti",
        "LYD,Libyan Dinar",
        "MAD,Moroccan Dirham",
        "MDL,Moldovan Leu",
        "MGA,Malagasy Ariary",
        "MKD,Macedonian Denar",
        "MMK,Myanma Kyat",
        "MNT,Mongolian Tugrik",
        "MOP,Macanese Pataca",
        "MRO,Mauritanian Ouguiya pre2018",
        "MRU,Mauritanian Ouguiya",
        "MUR,Mauritian Rupee",
        "MVR,Maldivian Rufiyaa",
        "MWK,Malawian Kwacha",
        "MXN,Mexican Peso",
        "MYR,Malaysian Ringgit",
        "MZN,Mozambican Metical",
        "NAD,Namibian Dollar",
        "NGN,Nigerian Naira",
        "NOK,Norwegian Krone",
        "NPR,Nepalese Rupee",
        "NZD,New Zealand Dollar",
        "OMR,Omani Rial",
        "PAB,Panamanian Balboa",
        "PEN,Peruvian Nuevo Sol",
        "PGK,Papua New Guinean Kina",
        "PHP,Philippine Peso",
        "PKR,Pakistani Rupee",
        "PLN,Polish Zloty",
        "PYG,Paraguayan Guarani",
        "QAR,Qatari Rial",
        "RON,Romanian Leu",
        "RSD,Serbian Dinar",
        "RUB,Russian Ruble",
        "RUR,Old Russian Ruble",
        "RWF,Rwandan Franc",
        "SAR,Saudi Riyal",
        "SBDf,Solomon Islands Dollar",
        "SCR,Seychellois Rupee",
        "SDG,Sudanese Pound",
        "SEK,Swedish Krona",
        "SGD,Singapore Dollar",
        "SHP,Saint Helena Pound",
        "SLL,Sierra Leonean Leone",
        "SOS,Somali Shilling",
        "SRD,Surinamese Dollar",
        "SYP,Syrian Pound",
        "SZL,Swazi Lilangeni",
        "THB,Thai Baht",
        "TJS,Tajikistani Somoni",
        "TMT,Turkmenistani Manat",
        "TND,Tunisian Dinar",
        "TOP,Tongan Pa anga",
        "TRY,Turkish Lira",
        "TTD,Trinidad and Tobago Dollar",
        "TWD,New Taiwan Dollar",
        "TZS,Tanzanian Shilling",
        "UAH,Ukrainian Hryvnia",
        "UGX,Ugandan Shilling",
        "USD,United States Dollar",
        "UYU,Uruguayan Peso",
        "UZS,Uzbekistan Som",
        "VND,Vietnamese Dong",
        "VUV,Vanuatu Vatu",
        "WST,Samoan Tala",
        "XAF,CFA Franc BEAC",
        "XAG,Silver Ounce",
        "XAU,Gold Ounce",
        "XCD,East Caribbean Dollar",
        "XDR,Special Drawing Rights",
        "XOF,CFA Franc BCEAO",
        "XPF,CFP Franc",
        "YER,Yemeni Rial",
        "ZAR,South African Rand",
        "ZMW,Zambian Kwacha",
        "ZWL,Zimbabwean Dollar"]'>
        </paper-dropdown-input>
        <p></p>
        <div id="exchangeDiv" hidden$="[[!showExchangeData]]">
          Value of Exchange (Last Refreshed: [[lastRefresh]])
          
          <h3>[[exch1]]/[[exch2]]</h3>
          <h2>[[valueExchange]]</h2>
          <p></p>
        </div>
        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postExchange">Get Exchange</paper-button>

        </div>
      </div>

    </div>
  </template>

  <script>
    class MySecretExchange extends Polymer.Element {
      static get is() { return 'secret-exchange'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          exch1: String,
          exch2: String,
          valueExchange: String,
          showExchangeData: {
            type: Boolean,
            value: false
          },
          lastRefresh: String,
          storedUser: Object,
          error: String,
          confirmationMessage: String,
          apiEndpoint: {
            type: String,
            value: MyGlobalVars.api_endpoint
          }

        }
      }
        postExchange() {
          console.log(this.$.currencyddwn.value);
          console.log(this.$.currencyddwn2.value);
          var cur1 = this.$.currencyddwn.value.split(',')[0];
          var cur2 = this.$.currencyddwn2.value.split(',')[0];
          this.exch1 = cur1;
          this.exch2 = cur2;
          this.$.getExchangeAjax.url = this.apiEndpoint + '/apitechu/v1/stock' + '?currency1=' + cur1 + '&currency2=' + cur2;
          this.$.getExchangeAjax.generateRequest();
        }
        showDataAfterGetExchangeCall(event) {
          //   {
          // "Realtime Currency Exchange Rate": {
          //     "1. From_Currency Code": "EUR",
          //     "2. From_Currency Name": "Euro",
          //     "3. To_Currency Code": "USD",
          //     "4. To_Currency Name": "United States Dollar",
          //     "5. Exchange Rate": "1.14573790",
          //     "6. Last Refreshed": "2019-01-14 10:21:51",
          //     "7. Time Zone": "UTC"
          // }
          console.log("esta es la respuesta obtenida handleUserResponse:");
          var response = event.detail.response;
          console.log(response);
          var exchange = response["Realtime Currency Exchange Rate"]["5. Exchange Rate"];
          var lastRefresh = response["Realtime Currency Exchange Rate"]["6. Last Refreshed"];
          this.valueExchange = exchange;
          this.lastRefresh = lastRefresh;
          this.showExchangeData=true;
        }
    }
    window.customElements.define(MySecretExchange.is, MySecretExchange);

  </script>
</dom-module>