<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/vaadin-select/vaadin-select.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="secret-account">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      vaadin-grid {
        height: 30vh;
      }
      vaadin-select{
        width:50%;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>

    <app-data key="userData" data="{{storedUser}}"></app-data>

    <iron-ajax auto id="getUserAccountsAjax" method="get" url="[[apiEndpoint]]/apitechu/v1/accounts" headers$='{"x-access-token" : "{{storedUser.access_token}}" }'
      handle-as="json" on-response='showAccountData'></iron-ajax>

    <iron-ajax auto id="getAccountBalanceAjax" method="get"  headers$='{"x-access-token" : "{{storedUser.access_token}}" }'
      handle-as="json" on-response='showBalanceData'></iron-ajax>

    <iron-ajax id="getUserMovementAjax" method="get" 
      headers$='{"x-access-token" : "{{storedUser.access_token}}" }' handle-as="json" on-response='showMovementsData'></iron-ajax>

    <iron-ajax id="putMovementAjax" headers$='{"x-access-token" : "{{storedUser.access_token}}" }'
      method="put" content-type="application/json" handle-as="text" on-response="handleUserResponse" on-error="handleUserError"></iron-ajax>

    <iron-ajax id="postAccountAjax" headers$='{"x-access-token" : "{{storedUser.access_token}}" }' method="post"
      handle-as="json" on-response="handleUserResponseNewAccount" on-error="handleUserError"></iron-ajax>

    <div class="card">
      <h1>Secret Accounts</h1>

      <div hidden$="[[!storedUser.loggedin]]">

        <paper-button raised class="primary" on-tap="doNewAccount">New Account</paper-button>

        <paper-dialog id="actionsNewAccount">
          <h2>New Account</h2>
          <paper-dialog-scrollable>
            Do you really want to create a new account?
          </paper-dialog-scrollable>
          <p></p>
          <div class="buttons">
            <paper-button class="primary" dialog-dismiss on-tap="cancelbutton">Not really</paper-button>
            <paper-button class="red" dialog-confirm autofocus on-tap="OkbuttonNewAccount">Yes, create</paper-button>
          </div>
        </paper-dialog>

        <paper-dialog id="actionsWithdraw">
          <h2>Insert the amount to Withdraw</h2>
          <paper-input auto-validate allowed-pattern="[0-9]" id="withdrawAmount" value="{{valuewithdraw}}" label="Amount to Withdraw"></paper-input>
          <h2>Description</h2>
          <paper-input id="withdrawDescription" value="{{valueDescription}}" label="Description"></paper-input>
          <p></p>
          <div class="buttons">
            <paper-button class="primary" dialog-dismiss on-tap="cancelbutton">Cancel</paper-button>
            <paper-button class="red" dialog-confirm autofocus on-tap="OkbuttonWithdraw">Withdraw</paper-button>
          </div>
        </paper-dialog>

        <paper-dialog id="actionsDeposit">
          <h2>Insert the amount to Deposit</h2>
          <paper-input auto-validate allowed-pattern="[0-9]" id="depositAmount" value="{{valuedeposit}}" label="Amount to Deposit"></paper-input>
          <h2>Description</h2>
          <paper-input id="depositDescription" value="{{valueDescription}}" label="Description"></paper-input>
          <p></p>
          <div class="buttons">
            <paper-button class="primary" dialog-dismiss on-tap="cancelbutton">Cancel</paper-button>
            <paper-button class="red" dialog-confirm autofocus on-tap="OkbuttonDeposit">Deposit</paper-button>
          </div>
        </paper-dialog>

        <paper-dialog id="actionsTransfer">
          <h2>Destionation IBAN</h2>
          <paper-input id="transferIban" value="{{valueIban}}" label="iban"></paper-input>
          <h2>Insert the amount to Deposit</h2>
          <paper-input auto-validate allowed-pattern="[0-9]" id="transferAmount" value="{{valuetransfer}}" label="Amount to Transfer"></paper-input>
          <h2>Description</h2>
          <paper-input id="transferDescription" value="{{valueDescription}}" label="Description"></paper-input>
          <p></p>
          <div class="buttons">
            <paper-button class="primary" dialog-dismiss on-tap="cancelbutton">Cancel</paper-button>
            <paper-button class="red" dialog-confirm autofocus on-tap="OkbuttonTransfer">Transfer</paper-button>
          </div>
        </paper-dialog>
        <p></p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>
        <template is="dom-if" if="[[confirmationMessage]]">
          <p class="alert-ok"><strong></strong>[[confirmationMessage]]</p>
        </template>

        <vaadin-select id="accountSelector" value={{selectedValue}}>
          <template>
            <vaadin-list-box>
              <template is="dom-repeat" items="{{accounts}}" as="account">
                <vaadin-item>{{account.iban}}</vaadin-item>
              </template>
            </vaadin-list-box>
          </template>
        </vaadin-select>
        <div hidden$="{{hideMovements}}">Balance:  {{balanceData}} € </div>
        
        <template is="dom-if" if="{{showForm}}">
          <paper-input is="iron-input" label="Amount" id="amountInput" type="number" value="{{amountData}}">
        </template>

        <div hidden$="{{hideMovements}}">
          <br />
          <paper-button raised class="primary" on-tap="openDialogWithdraw">Withdraw</paper-button>

          <paper-button raised class="primary" on-tap="openDialogDeposit">Deposit</paper-button>

          <paper-button raised class="primary" on-tap="openDialogTransfer">Transfer</paper-button>


          <br /><br />
          <h2>Movements:</h2>
          <hr>
          <vaadin-grid id="gridMovimientos" items={{movements}}>
            <vaadin-grid-column resizable>
              <template class="header">Date</template>
              <template>{{item.creation_date}}</template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable>
              <template class="header">Description</template>
              <template>{{item.description}}</template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable>
              <template class="header">Type</template>
              <template>{{item.type}}</template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable>
              <template class="header">Amount</template>
              <template>{{item.amount}}</template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable>
              <template class="header">Prev Balance</template>
              <template>{{item.prev_balance}}</template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable>
                <template class="header">Final Balance</template>
                <template>{{ShowTotal(item.prev_balance, item.amount)}}</template>
              </vaadin-grid-column>
          </vaadin-grid>

        </div>


      </div>
      <p hidden$="[[storedUser.loggedin]]">You must <a href="/main-login">log in</a> to access to your Bank Account</p>
    </div>

  </template>

  <script>

    class MySecretAccount extends Polymer.Element {

      static get is() { return 'secret-account'; }

      static get properties() {
        return {
          movements: Array,
          accounts: Array,
          error: String,
          confirmationMessage: String,
          storedUser: Object,
          selectedAccount: Object,
          amountData: Number,
          balanceData: Number,
          valueIban: String,
          valueDescription: String,
          valuewithdraw: Number,
          valuedeposit: Number,
          valuetransfer: Number,
          hideMovements: Boolean,
          showForm: Boolean,
          formData: {
            type: Object,
            value: {}
          },
          selectAccount: {
            type: String,
            value: "false",
            observer: '_accountChanged'
          },
          apiEndpoint: {
            type: String,
            value: MyGlobalVars.api_endpoint
          },
          gridActiveItem: {
            type: Object,
            observer: '_activeItemChanged'
          },
          selectedValue: {
            type: String,
            observer: '_selectedValueChanged'
          }
        }
      }
      ShowTotal(num1,num2){
        return num1+num2;
      }
      _selectedValueChanged(newValue, oldValue) {
        console.log("_selectedValueChanged: New:" + newValue + " Old: " + oldValue);
        if (newValue != "") {
          this.hideMovements = false;
          console.log('pedimos los movimientos');
          var iban = newValue.split(' ', 1);
          this.selectedAccount = this.accounts.find(
            function (element) {
              return element.iban == iban;
            });
          
          this.$.getAccountBalanceAjax.url = this.apiEndpoint + '/apitechu/v1/accounts/' + this.selectedAccount._id + '/balance';
          this.$.getAccountBalanceAjax.generateRequest();
  
          this.$.getUserMovementAjax.url = this.apiEndpoint + '/apitechu/v1/accounts/' + this.selectedAccount._id + '/movements';
          this.$.getUserMovementAjax.generateRequest();

        }
        else {
          this.hideMovements = true;
        }
      }

      _activeItemChanged(item) {
        this.$.gridCuentas.selectedItems = item ? [item] : [];
        console.log(item);
        console.log('accountChanged');
        this.hideMovements = false;
        if (!this.hideMovements) {
          console.log('pedimos los movimientos');
          if (item) {
            this.$.getUserMovementAjax.url = this.apiEndpoint + '/apitechu/v1/accounts/' + this.selectedAccount._id + '/movements';
            this.$.getUserMovementAjax.generateRequest();
          }
        }
      }

      initStoredUser() {
        if (this.storedUser.loggedin) {
          //this.showData();
        }
      }

      _setReqBody() {

        console.log("este es el formdata q vamos a mandar:");
        console.log(this.formData);
      }

      openDialogWithdraw() {
        this.valueDescription = "Online withdraw by " + this.storedUser.name;
        this.$.actionsWithdraw.open();
      }

      openDialogDeposit() {
        this.valueDescription = "Online deposit by " + this.storedUser.name;
        this.$.actionsDeposit.open();
      }

      openDialogTransfer() {
        this.valueDescription = "Online transfer by " + this.storedUser.name;
        this.$.actionsTransfer.open();
      }

      OkbuttonWithdraw(data) {
        this.formData.type = "cash-out";
        this.formData.description = this.valueDescription;
        this.formData.amount = Math.abs(this.valuewithdraw) * (-1);
        this.$.putMovementAjax.body = this.formData;
        this.$.putMovementAjax.url = this.apiEndpoint + '/apitechu/v1/accounts/' + this.selectedAccount._id + '/movements';
        this.$.putMovementAjax.generateRequest(); 

        this.updateMovements(this.formData);
        this.balanceData += this.formData.amount;
      }

      OkbuttonDeposit(data) {
        this.formData.type = "cash-in";
        this.formData.description = this.valueDescription;
        this.formData.amount = Math.abs(this.valuedeposit);
        this.$.putMovementAjax.body = this.formData;
        this.$.putMovementAjax.url = this.apiEndpoint + '/apitechu/v1/accounts/' + this.selectedAccount._id + '/movements';
        this.$.putMovementAjax.generateRequest(); 

        this.updateMovements(this.formData);
        this.balanceData += this.formData.amount;
      }

      OkbuttonTransfer(data) {
        this.formData.type = "transfer";
        this.formData.description = this.valueDescription;
        this.formData.amount = Math.abs(this.valuetransfer);
        this.$.putMovementAjax.body = this.formData;
        this.$.putMovementAjax.url = this.apiEndpoint + '/apitechu/v1/accounts/' + this.selectedAccount._id + '/movements/' + this.valueIban;
        this.$.putMovementAjax.generateRequest();   

        this.updateMovements(this.formData);
        this.balanceData -= this.formData.amount;
      }
      
      cancelbutton(data) {

      }

      OkbuttonNewAccount(data) {
        this.$.postAccountAjax.url = this.apiEndpoint + "/apitechu/v1/accounts";
        this.$.postAccountAjax.generateRequest();
      }

      updateMovements(formData){
        this.formData.creation_date = 'now';  
        this.formData.prev_balance = this.balanceData;
        this.movements = [formData, ...this.movements];
        //Nota: hacemos un trampantojo mientras se guardan los datos en la base de datos
        //this.$.getUserMovementAjax.generateRequest();
      }

      doNewAccount() {
        this.$.actionsNewAccount.open();
      }
      showAccountData(data) {
        console.log('nos hemos traido los datos de las cuentas');
        console.log(data.detail.response);
        this.accounts = data.detail.response;
        console.log(this.accounts);
      }
      showBalanceData(data) {
        console.log('nos hemos traido el saldo');
        this.balanceData = data.detail.response;
        console.log(this.balanceData);
      }
      showMovementsData(data) {
        console.log('nos hemos traido los datos de transacciones');
        console.log(data.detail.response);
        this.movements = data.detail.response;
      }

      handleUserResponse(event) {
        this.confirmationMessage = "Operation done successfully";
      }
      handleUserResponseNewAccount(data) {
        var iban = data.detail.response["iban"];
        this.confirmationMessage = "New account created succesfully: IBAN: " + iban;
        this.$.getUserAccountsAjax.generateRequest();
      }

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
        console.log(this.error);
      }

    }


    window.customElements.define(MySecretAccount.is, MySecretAccount);
  </script>
</dom-module>