<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
	<template>
		<style>
			:root {
				--primary-color: #4285f4;
			}

			[hidden] {
				display: none !important;
			}

			.card {
				margin: 24px;
				padding: 16px;
				color: #757575;
				border-radius: 5px;
				background-color: #fff;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			}

			.alert-error {
				background: #ffcdd2;
				border: 1px solid #f44336;
				border-radius: 3px;
				color: #333;
				font-size: 14px;
				padding: 10px;
			}

			.alert-ok {
				background: #d7ffcd;
				border: 1px solid #7cf436;
				border-radius: 3px;
				color: #333;
				font-size: 14px;
				padding: 10px;
			}

			h1 {
				margin: 16px 0;
				color: #212121;
				font-size: 22px;
			}

			a,
			paper-button {
				font-weight: bold;
			}

			a {
				color: var(--primary-color);
			}

			paper-button {
				color: #fff;
			}

			paper-button.primary {
				background: var(--primary-color);
			}

			paper-button.red {
				background: #f44336;
				color: #fff;
				font-weight: bold;
			}

			blockquote {
				border-left: 4px solid #eee;
				margin-left: 4px;
				padding-left: 20px;
			}
		</style>
	</template>
</dom-module>