<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="user-profile">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      a {
        color: var(--primary-color);
      }
      paper-button.link {
        color: #757575;
      }
      
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      .alert-ok {
        background: #d7ffcd;
        border: 1px solid #7cf436;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>


    <iron-ajax id="getUserDetailsAjax" method="get" url="[[apiEndpoint]]/apitechu/v1/users/[[storedUser.user_id]]"
      headers$='{"x-access-token" : "{{storedUser.access_token}}" }' handle-as="json" on-response='showDataAfterGetCall'
      auto on-error="handleUserError"></iron-ajax>

    <iron-ajax id="updateUserDetailsAjax" method="put" url="[[apiEndpoint]]/apitechu/v1/users/[[storedUser.user_id]]"
      headers$='{"x-access-token" : "{{storedUser.access_token}}" }' content-type="application/json" handle-as="json"
      on-response='showDataAfterUpdateCall' on-error="handleUserError"></iron-ajax>

    <!-- url="[[apiEndpoint]]/apitechu/v1/users/[[storedUser.user_id]]" -->
    <iron-ajax id="deleteUserDetailsAjax" method="DELETE" on-response='showDataAfterDeleteCall' on-error="handleUserError"></iron-ajax>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">

        <p>Please <a href="/main-login">log in</a> to access Smart Money Bank!</p>
        <!-- 
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

          <paper-input label="Username" is="iron-input" id="username" type="text" value="{{formData.email}}">
          <paper-input label="Password" is="iron-input" id="password" type="password" value="{{formData.password}}"> 

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
          <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>

        </div>
-->

      </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <paper-dialog id="actions">
          <h2>Delete Account</h2>
          <paper-dialog-scrollable>
            Do you really want to delete this account?
          </paper-dialog-scrollable>
          <p></p>
          <div class="buttons">
            <paper-button class="primary" dialog-dismiss on-tap="cancelbutton">Cancel</paper-button>
            <paper-button class="red" dialog-confirm autofocus on-tap="Okbutton">Delete</paper-button>
          </div>
        </paper-dialog>
        <h2>User Profile [[storedUser.name]]!</h2>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>
        <template is="dom-if" if="[[confirmationMessage]]">
          <p class="alert-ok"><strong></strong>[[confirmationMessage]]</p>
        </template>
        <paper-input label="First Name" id="first_name" type="text" value="{{storedUser.first_name}}"></paper-input>

        <paper-input label="Last Name" id="last_name" type="text" value="{{storedUser.last_name}}"></paper-input>

        <paper-input label="Email" id="email" type="email" value="{{storedUser.name}}"></paper-input>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postUpdate">Update</paper-button>
          <paper-button raised class="primary" on-tap="postCloseAccount">Close Account</paper-button>
          <log-out stored-user="{{storedUser}}"></log-out>
        </div>
        <h2></h2>

      </div>

    </div>
  </template>

  <script>
    class MyUserProfile extends Polymer.Element {

      static get is() { return 'user-profile'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String,
          confirmationMessage: String,
          apiEndpoint: {
            type: String,
            value: MyGlobalVars.api_endpoint
          }
        }
      }
      cancelbutton(data) {

      }
      Okbutton(data) {
        console.log('Okbutton');
        var url = this.apiEndpoint + '/apitechu/v1/users/' + this.storedUser.user_id;
        this.$.deleteUserDetailsAjax.url = url;
        console.log('url: ' + url);
        this.$.deleteUserDetailsAjax.headers['x-access-token'] = '' + this.storedUser.access_token;
        this.$.deleteUserDetailsAjax.generateRequest();
      }
      _updateData(data) {
        this.accounts = data.detail.response;
        this.storedUser.first_name = (data.detail.response.first_name ? data.detail.response.first_name : null);
        this.$.first_name.value = (data.detail.response.first_name ? data.detail.response.first_name : null);
        this.storedUser.last_name = (data.detail.response.last_name ? data.detail.response.last_name : null);
        this.$.last_name.value = (data.detail.response.last_name ? data.detail.response.last_name : null);
        this.storedUser.email = (data.detail.response.email ? data.detail.response.email : null);
        this.$.email.value = (data.detail.response.email ? data.detail.response.email : null);
      }
      showDataAfterGetCall(data) {
        console.log('nos hemos traido los datos ya showDataAfterGetCall user-profile');
        console.log(data.detail.response);
        this._updateData(data);
        console.log(this.storedUser);

      }
      showDataAfterUpdateCall(data) {
        console.log('nos hemos traido los datos ya showDataAfterUpdateCall user-profile');
        console.log(data.detail.response);
        this._updateData(data);
        console.log(this.storedUser);
        this.confirmationMessage = "User updated succesfully";
      }
      showDataAfterDeleteCall(data) {
        console.log('nos hemos traido los datos ya showDataAfterSignOffCall user-profile');
        this.confirmationMessage = "User deleted succesfully";
        this.storedUser = null;
      }

      postUpdate() {
        console.log("postUpdate");
        this._setReqBody();
        this.$.updateUserDetailsAjax.generateRequest();

      }
      postCloseAccount() {
        this.$.actions.toggle();
      }
      _setReqBody() {
        console.log("setReqBody:");
        var body = {
          first_name: this.storedUser.first_name,
          last_name: this.storedUser.last_name,
          email: this.storedUser.name
        };
        this.$.updateUserDetailsAjax.body = body;
        console.log("este es el formdata q vamos a mandar:");
        console.log(body);
      }

      handleUserError(event) {
        if (event.detail.request.xhr.response) {
          this.error = event.detail.request.xhr.response;
          console.log('Error handler: ' + this.error);
        }
        else {
          this.error = "Conection error handled";
        }
      }
    }
    window.customElements.define(MyUserProfile.is, MyUserProfile);
  </script>
</dom-module>